[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
django-rest-framework = "*"
django-cors-headers = "*"
black = "*"
isort = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.9"
